.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.keyboard {
  line-height: 14px;
  display: inline-block;
  background: #717070;
  padding: 2px;
  border-radius: 3px;
  box-shadow: #4c4a4a 0 1px 0px 3px;
  user-select: none; /* Likely future */
  transform: scale(j0.9);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.detected {
  transform: scale(1);
  opacity: 1;
}

.keyboardContainer {
  text-align: center;
  background: #dddfe0;
  padding: 10px 0;
}

.row {
  white-space: nowrap;
  display: block;
}
