.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.keyboard {
  margin-top: 5px;
  line-height: 14px;
  display: inline-block;
  background: #717070;
  padding: 2px;
  border-radius: 3px;
  box-shadow: #9c9c9c 0 0 0px 1px;
  user-select: none; /* Likely future */
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.detected {
  transform: scale(1);
  opacity: 1;
}

.keyboardContainer {
  text-align: center;
}

.row {
  white-space: nowrap;
  display: block;
}
