.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.keyboard {
  margin: 10px 0;
  line-height: 14px;
  display: inline-block;
  background: #717070;
  padding: 2px;
  border-radius: 3px;
  box-shadow: #4c4a4a 0 1px 0px 3px;
  user-select: none; /* Likely future */
  transform: scale(j0.9);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.layerControl {
  height: 30px;
  background: black;
  opacity: 0.8;
  line-height: 30px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #818181;
}

.detected {
  transform: scale(1);
  opacity: 1;
}

.keyboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddfe0;
  flex-direction: column;
}

.row {
  white-space: nowrap;
  display: block;
}
