.outerKey {
  background: #d8d8d8;
  width: 50px;
  padding-top: 2px;
  padding-bottom: 9px;
  padding-left: 6px;
  padding-right: 6px;
  height: 52px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 2px;
}

.size125U {
  width: 62.5px;
}

.size15U {
  width: 75px;
}

.size175U {
  width: 87.5px;
}

.size2U {
  width: 100px;
}

.innerKeyContainer {
  position: absolute;
}

.innerKey {
  height: 100%;
  margin: auto;
  background: whitesmoke;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-top: 2px;
  border-radius: 3px;
}

.smallInnerKey {
  height: 100%;
  margin: auto;
  background: whitesmoke;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 5px;
  border-radius: 3px;
  font-size: 12px;
  padding-top: 0;
}

.legend {
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  color: #444444;
  font-weight: bold;
}