.keyboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddfe0;
  flex-direction: column;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2O8cePGfwYcgBEkKSAggFV60EkCAGDsGdlliV0/AAAAAElFTkSuQmCC
    )
    repeat;
  min-height: 240px;
  box-sizing: border-box;
}

.keyboard {
  margin: 10px 0;
  line-height: 14px;
  display: inline-block;
  background: #717070;
  padding: 2px;
  border-radius: 3px;
  box-shadow: #4c4a4a 0 1px 0px 3px;
  user-select: none; /* Likely future */
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
  filter: blur(2px);
  position: relative;
}

.detected {
  transform: scale(1);
  opacity: 1;
}

.clickable {
  pointer-events: all;
}

.connected {
}

.loaded {
  filter: blur(0px);
}

.row {
  white-space: nowrap;
  display: block;
}

.nextButton {
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 15px solid #d8d8d8;
  transform: rotate(90deg);
  position: absolute;
  right: -6px;
}

.prevButton {
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 15px solid #d8d8d8;
  transform: rotate(-90deg);
  position: absolute;
  left: -6px;
}

.activeButton {
  border-bottom-color: #717070;
  cursor: pointer;
}
