.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #d8d8d8;
}

.keycode {
  display: flex;
  user-select: none;
  color: #717070;
  border: 1px #717070 solid;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  box-shadow: #8c8c8c 0 1px 0px 0px;
}

.keycodes {
  padding: 0 5px 5px 5px;
  display: flex;
  flex-flow: wrap;
  overflow: auto;
}

.category {
  display: inline-block;
  color: #a7a7a7;
  font-size: 20px;
  transition: 0.4s color ease-out;
  padding: 4px;
  text-transform: uppercase;
}

.selected {
  color: #717070;
}

.categories {
  padding: 2px 5px;
  white-space: nowrap;
  height: 31px;
  min-height: 31px;
  overflow-x: auto;
}
