.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #d8d8d8;
}

.keycode {
  display: flex;
  user-select: none;
  color: #717070;
  border: 1px #717070 solid;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.keycodes {
  display: flex;
  flex-flow: wrap;
  flex: 1;
  overflow: auto;
}

.category {
  display: inline-block;
  color: #989898;
  font-size: 20px;
  padding: 4px;
  text-transform: uppercase;
}

.selected {
  color: #717070;
}

.categories {
  white-space: nowrap;
  overflow: auto;
  height: 40px;
}
