.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #eaeaea;
  position: relative;
  box-shadow: inset #a7a7a7 0 1px 1px;
}

.keycodes {
  padding: 0 5px 5px 5px;
  display: flex;
  flex-flow: wrap;
  overflow: auto;
}

.keycode {
  transition: transform 0.2s ease-out;
  display: flex;
  user-select: none;
  color: #717070;
  border: 1px #717070 solid;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  box-shadow: #8c8c8c 0 1px 0px 0px;
}

.disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}

.keycode:hover {
  transform: translate3d(0, -2px, 0);
}

.categories {
  padding: 2px 3px;
  white-space: nowrap;
  height: 31px;
  min-height: 31px;
  overflow-x: auto;
}

.category {
  display: inline-block;
  color: #a7a7a7;
  font-size: 20px;
  transition: 0.4s color ease-out;
  padding: 4px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.selected {
  color: #717070;
}

.keycodeDesc {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 14px;
  padding: 5px;
  height: 25px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.keycodeDesc:empty {
  opacity: 0;
}
