.categories {
  padding: 2px 3px;
  white-space: nowrap;
  height: 31px;
  min-height: 31px;
  text-align: center;
}

.category {
  font-family: GothamRounded;
  display: inline-block;
  color: #a7a7a7;
  font-size: 20px;
  transition: 0.4s color ease-out;
  padding: 4px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #eaeaea;
  position: relative;
  box-shadow: inset #a7a7a7 0 1px 1px;
}

.selected {
  color: #717070;
}
